.analytics-container{
    background-color: rgb(27, 27, 27);
}
.numbers{
    display: flex;
    justify-content: center;
}
.numbers h4{
    margin: 4px;
}
.categoryChart{
    display: flex;
    justify-content: space-around;
    position: relative;
    align-items: center;
    text-align: center;
    background-color: aliceblue;

}
.uperCharts{
    height: 400px;
    position: relative;
    top: 5%;
    display: flex;
    justify-content: space-around;
    margin: 10px;
}

.pieChart{
    position: relative;
    right: 7%;
}
.Charts{
    height: 400px;
    display: flex;
    margin: 10px;
}
.bar{
    height: 500px;
    width: 600px;
    background-color: rgb(255, 255, 255);
    margin: 10px;
}

.doughnut{
    position: relative;
    left: 10%;
}
