.sideBar{
    position: sticky;
    text-align: center;
    align-items: center;
    background-color: #141414eb;
    z-index: 1;
    box-shadow: 1px 1px 1px 1px #f8f8f8f9;
    width: 15%;
    height: 130dvh;

}
.crudcategory{
    height: 200px;

}
.crudcategorybtn{
    margin: 10px;
}
.adminDashHead{
    position: fixed;
    padding-top: 20px;
    padding-left: 12px;
    text-align: center;
    align-items: center;
    font-size: x-large;
    font-weight: 600;
    color: white;
}

.crudPage{
    
    position: absolute;
    text-align: center;
    left:15%;
    width: 90vw;
    height: 90vh;
    background-color: rgb(255, 255, 255);
}

.dashALinks{
    position: fixed;
    font-size: large;
    font-weight: 500;
    top: 25%;
    left: 0%;
    width: 14.9%;
    align-items: center;
    text-align: center;
    padding-top: 7px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
    background-color:  rgb(203, 203, 255);
}

.dashWLinks{
    position: fixed;
    top: 35%;
    font-size: large;
    font-weight: 500;
    left: 0%;
    width: 14.9%;
    padding-top: 10px;
    padding-bottom: 10px;
    border: none;
    border-radius: 0;
}

/* Input Feilds */
.winputs{
    width: 15%;
    margin: 3px;
    background-color: #d7f4ffeb;
}
/* Select Input Field */
.workout-crud-input{
    width: 17%;
    border: none;
    border-radius: 4px;
    padding: 10px;
    margin: 3px;
    background-color: #d7f4ffeb;
}

/* Workout Info */
.workoutInfo{

    position: relative;

}
.crudInfobtn{
    margin: 10px;
}