.StartBtn
{
  background-color: blue;
  color:white;
  border-radius: 20px;
  padding: 10px;
  margin-left: 65px;
  border: none;
}

.otherbtn
{
  background-color: blue;
  color:white;
  width: 80px;
  height: auto;
  border-radius: 20px;
  margin-left: 55px;
}

.react-chatbot-kit-chat-container {
width:468px !important;
}

.react-chatbot-kit-chat-bot-message {

  margin-left: 7px !important;

}

.react-chatbot-kit-user-chat-message{

  background-color: #42dee1 !important;
  color:black !important;

}

.react-chatbot-kit-user-chat-message-arrow{

  border-left: 8px solid #42dee1 !important;

}







