.toogleBtns{
    position: fixed;
    left: 75%;
    margin-top: 10px;
    margin-bottom: 3em;
    background-color: aqua;
}

.registBtn {
    position: absolute;
    left: -8%;
    border-radius: 0px;
    background-color: white;
    border: 2px solid rgb(164, 255, 115);
    width: 200px;
    box-shadow: 0px 0px  0px 0px rgba(0,0,0,0);
}
.registBtn:focus {
    background-color: rgb(164, 255, 115);
  }
.loginBtn{
    position: absolute;
    right: 108%;
    box-shadow: 0px 0px  0px 0px rgba(0,0,0,0);
    width: 200px;
    border-radius: 0px;
    border: 2px solid rgb(164, 255, 115);
    background-color: white;
}
.loginBtn:focus {
    background-color: rgb(164, 255, 115);
  }

.wholePage{
    display: flex;
    background-color: rgb(42, 42, 42) ;
    color: white;
}

.Aimage{
    position: relative;
    width:55vw;
    height: 88vh;
}