.toogleBtns{
    position: relative;
    left: 70%;
    margin: 10px;
    margin-bottom: 3em;
}

button{
    margin: 10px;
}

.wholePage{
    display: flex;
}

.Aimage{
    width:50vw;
    height: 88vh;

}