.footermain{
position: relative;
}
.custom-shape-divider-top-1705341299 {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
}

.custom-shape-divider-top-1705341299 svg {
    position: relative;
    display: block;
    width: calc(142% + 1.3px);
    height: 69px;
}

.custom-shape-divider-top-1705341299 .shape-fill {
    fill: #a7a7a7;
}