.nav{
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    text-align: center;
    justify-content: space-between;
    background-color: rgb(20, 20, 20);
    height: 80px;
    padding: 5px 0px 0px 0px;
    box-shadow: 2px 3px 50px -16px rgba(0,0,0,0.75);
}
.logo img{
    height: 85px;
}
.nav-links{
    width: 50%;
    margin-top: 15px;
    list-style: none;
}
ul{
    display: flex;
    justify-content: space-evenly;
    list-style: none;    
    font-size: large;
    color: whitesmoke;
}
li:hover{
    text-decoration: none;
    
}