.register-Header{
    position: relative;
    bottom: 25px;
}
.main{
    position: relative;
    top: 25%;
    align-items: end;
    height: 100%;
    width: 100%;

}
.regis-form{
    width: 50%;
    
}
.segregate{
    display: flex;
    justify-content: space-around;
    width: 130%;

}
.register-Header{
    position: relative;
    text-align: center;
    color: white;

}
.form
{
    position: relative;
    color: #000000;
    padding: 20px;
    height: 50%;
    width: 90%;
    border-radius: 15px;
    /* box-shadow: 0px 0px 0px 0px rgba(0,0,0,0); */
}
label{
    font-size: large;
    color: white;
    padding-top: 10px;
    margin: 10px;


}

.regis-inp{
    border: none;
    border-radius: 7px;
    padding: 13px;
    width: 95%;
    margin-top: 4px;
    margin: 10px;
    color: black;
    background-color: rgb(217, 237, 255);
}
/* .form input
{
    border: none;
    background-color: #d9edff;
    border-radius: 5px;
    width: 100%;
    height: 25px;
    padding: 10px;
    margin-top: 5px;
} */

.rightsideForm{
    position: relative;
    right:20%;
}
.gender{
    border: none;
    border-radius: 7px;
    margin: 10px;
    padding: 13px;
    width: 95%;
    margin-top: 4px;
    color: black;
    background-color: rgb(217, 237, 255);
}
.sendOTP{
    width: 150px;
}
.regisBtn
{
  padding: 10px;
  width: 30%;
  position: relative;
  background-color: #d9edff;
  left: 35%;
  margin-top: 25px;
  text-align: center;
  align-items: center;
  font-size: medium;
  border-radius: 10px;
  background-color: rgb(74, 255, 195);
  color: rgb(43, 4, 79);
  border:none;
}
h5
{
    color: #FF004D;
}

input{
    border: none;
    border-radius: 7px;
    padding: 13px;
    color: black;
    background-color: rgb(217, 237, 255);
}

.sendOTP{
    position: relative;
    left: 18%;
}

.phone-number-label{
    position: relative;
    margin:  15px;
}