.track
{
   display: flex;
   width:auto;
   height: auto;
   justify-content: space-evenly;
}

.progress-box{
   position: relative;
   justify-content: center;
   text-align: center;
   margin-top: 1%;
   height: 45vh;
   left: 35%;
   color: black;
   background-color: rgb(250, 250, 250);
   box-shadow: 3px 5px 20px -16px rgba(0,0,0,0.75);
   width: 30%;
   padding: 10px;
   border: none;
   border-radius: 10px;
   
}
.progress-label{
   color: black;
}

.gchart-color-y{
   background-color: yellow;
   border: none;
   border-radius: 10px;
   padding: 7px;
   font-size: small;
   color: rgb(0, 0, 0);
}
.gchart-color-g{
   background-color: green;
   border: none;
   border-radius: 10px;
   padding: 7px;
   font-size: small;
   color: white;
}
.gchart-color-o{
   background-color: orange;
   border: none;
   border-radius: 10px;
   padding: 7px;
   font-size: small;
   color: white;
}
.gchart-color-r{
   background-color: red;
   border: none;
   border-radius: 10px;
   padding: 7px;
   font-size: small;
   color: white;
}
.user-gchart{
   width: 500px;
}
.user-bar-chart{
   width: 500px;
}





.progress-submit-btn{
   width:"100px";
   height:"42px";
   padding:'none';
   position: relative;
   margin: 20px;
   left: 25%;
}