.main1
{
    display: grid;
    grid-template-columns: repeat(3,400px);
   justify-content: space-evenly;
   /* background: radial-gradient(827px at 47.3% 48%, rgb(255, 255, 255) 0%, rgb(190, 225, 240) 90%); */

}

.link{
    color:black;
    text-decoration:none;
}

.cardContent{
    text-align:center;
     font-size:auto;
     
}

.Image{
    height: 350px;
    width: 400px;
    border-bottom: 2px white solid;
    /* position: relative;
    left: 10px;
    right: 10px;
    top: 10px;
    border-radius: 10px; */
}

.Image2{
    height: 300px;
    width: 450px;
    border-bottom: 2px white solid;
}

.Title{
    Position: relative;
    text-align: center;
}

/* .content1{
    display: flex;
}  */

.Fav{
    position: relative;
    top:3%;
}

.cardstyle:hover{
    box-Shadow:10px 10px 20px rgba(0, 0, 0, 0.5)
}